body {
    background-image: url(../img/fdimage.jpg);
    background-size: 100%;
}

#status {
    background-color: red;
    text-align: center;
    width: 50%;
    margin-left: 25%;
    margin-bottom: 15px;
}

#new-note {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    padding-bottom: 10px;
}

hr {
    margin-bottom: 15px;
}

#list-note {
    background-color: rgba(23, 23, 23, 0.2);
    width: 80%;
    margin-left: 10%;
    height: 500px;
    overflow-y: auto;
}


/* list-note>* ==> ne s'adresse qu'aux enfants de premier niveau de list-note
si on avait fait list-note *, on s'adresserait à tous les niveaux d'enfant*/

.note,
#list-note>* {
    background-color: khaki;
    border: 1px solid black;
    box-shadow: 10px 10px 50px black;
    border-radius: 5px;
}

#list-note>*,
.vue-note {
    display: inline-block;
    width: auto;
    min-width: 200px;
    max-width: 300px;
    margin-left: 10px;
    margin-top: 10px;
}


/*Gestion des inputs du formulaire*/

.max-center-in-form {
    width: 90%;
    margin-left: 5%;
}

#nom-note {
    margin-bottom: 5px;
    text-align: center;
    display: block;
}

#date-note,
#heure-note {
    width: auto;
}

.center {
    text-align: center;
}


/*#description-note {}*/

.close-icon-block {
    padding: 3px;
}


/* les enfants du conteneur */

.close-icon-block>* {
    width: 18px;
    float: right;
}